In [1]:
from google.colab import drive
drive.mount('/content/drive/')
!ls

# change working directory
import os
# %cd ../
os.chdir("drive/My Drive/Covid-19")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
drive  sample_data

In [0]:
from os import listdir
from os.path import isfile, join
import re
import pandas as pd
from tqdm import tqdm

In [0]:
# TODO change the folder name
mypath = 'tweets part1'
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

savepath = 'covid-final-dataset-2.csv.gz'
for i, filepath in tqdm(enumerate(onlyfiles)):
    # TODO sort values based on date and time
    df = pd.read_csv(mypath + '/' + filepath)
    # TODO remove it

    if i == 0:
        df.to_csv(savepath, index=False, compression='gzip', mode='w')
    else:
        df.to_csv(savepath, index=False, compression='gzip', mode='a', header=False)

df = pd.read_csv(savepath, compression='gzip')
df = df[df['lang'] == 'en']
df[['replies', 'retweets', 'likes']] = df[['replies', 'retweets', 'likes']].astype(int)
df.date = pd.to_datetime(df.date)
df.to_csv(savepath, index=False, compression='gzip')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488155 entries, 4 to 1071182
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   tweet_id     488155 non-null  object
 1   date         488155 non-null  datetime64[ns]
 2   time         488155 non-null  object
 3   text         488155 non-null  object
 4   lang         488155 non-null  object
 5   location_id  48986 non-null   object
 6   location     369125 non-null  object
 7   replies      488155 non-null  int64
 8   retweets     488155 non-null  int64
 9   likes        488155 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 41.0+ MB

In [22]:
df.head(2)

              tweet_id       date      time  ... replies retweets likes
4  1238594752615858176 2020-03-13  22:36:15  ...       1        1     2
6  1238613509828743168 2020-03-13  23:50:47  ...       0        0     0

[2 rows x 10 columns]

In [23]:
df.count()

tweet_id       488155
date           488155
time           488155
text           488155
lang           488155
location_id     48986
location       369125
replies        488155
retweets       488155
likes          488155
dtype: int64

In [0]:
# q = df.groupby('lang').agg('count')
# q.to_csv('lang.csv')

In [16]:
df.location_id.unique().shape[0]

5688